{% extends 'application.html' %}
{% block title %}Artistic Photos{% endblock %}

{% block content %}

<div id="home" v-cloak>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        v-bind:class="{active: showStartingImage}"
        v-on:click="setTab('starting')"
        aria-current="page"
        href="#"
      >
        Starting Photo
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        v-bind:class="{active: showStyleImage}"
        v-on:click="setTab('style')"
        href="#"
      >
        Style Image
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: showPalette}" v-on:click="setTab('palette')" href="#">Color Palette</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        v-bind:class="{active: showArtisticImage}"
        v-on:click="setTab('artistic')"
        href="#"
      >
        Artistic Photos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: showEdit}" v-on:click="setTab('edit')" href="#">Create Photo</a>
    </li>
  </ul>
  <div v-if="showStartingImage">
    {% include 'partials/_starting_image.html' %}
  </div>
  <div v-if="showStyleImage">
    {% include 'partials/_style_image.html' %}
  </div>
  <div v-if="showPalette">
    {% include 'partials/_palette.html' %}
  </div>
  <div v-if="showArtisticImage">
    {% include 'partials/_artistic_image.html' %}
  </div>
  <div v-if="showEdit">
    {% include 'partials/_edit.html' %}
  </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
<script src="{{ url_for('static', filename='scripts/home/index.js') }}"></script>
{% endblock %}
