{% extends 'application.html' %}

{% block content %}


<form method="post">
    <h1 style="text-align: center;">Forgot Password?</h1>
    <div class="form-group row">
        <label class="col-sm-label col-sm-8 offset-sm-4">Email address</label>
        <div class="col-sm-4 offset-sm-4">
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 offset-sm-4">
          <button type="submit" class="btn btn-primary">Send Reset Password Email</button>
        </div>
    </div>
</form>

{% endblock %}