<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Style Image</h5>
    <div class="row">
      <div class="col-sm-8">
        <img
          v-bind:src="[[artisticImage.url]]"
          v-bind:width="[[artisticWidth]]"
          v-bind:height="[[artisticHeight]]"
        >
      </div>
      <div class="col-sm-4">
        <div v-bind:style="{width: '18rem', height: cardHeight() + 'rem', 'overflow-y': 'auto'}">
          <ul class="list-group list-group-flush">
            <li
              v-for="(img, index) in artisticImages"
              class="list-group-item"
              v-bind:class="{active: img.id == artisticImage.id, 'custom-list-group-item': img.id != artisticImage.id}"
              v-on:click="selectArtisticPhoto(img)"
            >
              [[img.name]]
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
