<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">How would you like to edit your photo?</h1>
    <form id="artistic-image" enctype="multipart/form-data" method="post" action="/images/artistic">
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-nst" name="action" value="nst" class="custom-control-input">
        <label class="custom-control-label" for="radio-nst">Transfer Style</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-blur" name="action" value="blur" class="custom-control-input">
        <label class="custom-control-label" for="radio-blur">Blur</label>
        <input type="range" class="form-range" min="1" max="31" step="3" value="16" id="blur-range" name="blur-range" list="percent">
        <datalist id="percent">
          <option value="1" label="0%"></option>
          <option value="16" label="50%"></option>
          <option value="31" label="100%"></option>
        </datalist>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-sharpen" name="action" value="sharpen" class="custom-control-input">
        <label class="custom-control-label" for="radio-sharpen">Sharpen</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-black_and_white" name="action" value="black_and_white" class="custom-control-input">
        <label class="custom-control-label" for="radio-black_and_white">Black and White</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-pencil-sketch" name="action" value="pencil_sketch" class="custom-control-input">
        <label class="custom-control-label" for="radio-pencil-sketch">Pencil Sketch</label>
      </div>
      <div class="form-group mt-5">
        <div class="col-sm-4">
          <input type="text" name="artistic_name" class="form-control" placeholder="Artistic Photo Name" />
      </div>

      <input type="hidden" name="canvas_image" v-bind:value="[[canvasImage]]" />
      <input type="hidden" name="starting_id" v-bind:value="[[selected_id]]"/>
      <input type="hidden" name="style_id" v-bind:value="[[selected_style_id]]"/>
      <input type="submit" value="Create Artistic Photo" id="submit" class="mt-5 btn btn-primary" />
    </form>
  </div>
</div>
