<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">How would you like to edit your photo?</h1>
    <form id="artistic-image" enctype="multipart/form-data" method="post" action="/images/artistic">
      <div class="custom-control custom-radio">
        <input
          v-on:click="() => showNstOptions = !showNstOptions"
          type="radio"
          id="radio-nst"
          name="action"
          value="nst"
          class="custom-control-input"
        >
        <label class="custom-control-label" for="radio-nst">Transfer Style</label>
        <svg v-on:click="() => showNstHelp = true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
      </div>
      <div v-if="showNstOptions">
        <input
          type="range"
          class="form-range"
          v-model="nstOption"
          min="1"
          max="5"
          step="1"
          value="1"
          id="nst-option"
          name="nst-option"
          list="percent"
        >
        <datalist id="percent">
          <option :value="option" v-for="option in nstOptions"></option>
        </datalist>
        <img v-if="nstOption == 1" src="artistic/static/img/nst/1.png" width=300/>
        <img v-if="nstOption == 2" src="artistic/static/img/nst/2.png" width=300/>
        <img v-if="nstOption == 3" src="artistic/static/img/nst/3.png" width=300/>
        <img v-if="nstOption == 4" src="artistic/static/img/nst/4.png" width=300/>
        <img v-if="nstOption == 5" src="artistic/static/img/nst/5.png" width=300/>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-blur" name="action" value="blur" class="custom-control-input">
        <label class="custom-control-label" for="radio-blur">Blur</label>
        <input type="range" class="form-range" min="1" max="31" step="3" value="16" id="blur-range" name="blur-range" list="percent">
        <datalist id="percent">
          <option value="1" label="0%"></option>
          <option value="16" label="50%"></option>
          <option value="31" label="100%"></option>
        </datalist>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-sharpen" name="action" value="sharpen" class="custom-control-input">
        <label class="custom-control-label" for="radio-sharpen">Sharpen</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-black_and_white" name="action" value="black_and_white" class="custom-control-input">
        <label class="custom-control-label" for="radio-black_and_white">Black and White</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="radio-pencil-sketch" name="action" value="pencil_sketch" class="custom-control-input">
        <label class="custom-control-label" for="radio-pencil-sketch">Pencil Sketch</label>
      </div>
      <div class="custom-control custom-radio">
        <input
          v-on:click="togglePaletteMapping"
          type="radio"
          id="radio-transfer-color"
          name="action"
          value="transfer_color"
          class="custom-control-input"
        >
        <label class="custom-control-label" for="radio-transfer-color">Transfer Colors</label>
      </div>
      <div class="form-group mt-5">
        <div class="col-sm-4">
          <input type="text" name="artistic_name" class="form-control" placeholder="Artistic Photo Name" />
      </div>

      <input type="hidden" name="canvas_image" v-bind:value="[[canvasImage]]" />
      <input type="hidden" name="starting_id" v-bind:value="[[image.id]]"/>
      <input type="hidden" name="style_id" v-bind:value="[[styleImage.id]]"/>
      <input type="hidden" name="hex_values" v-bind:value="[[hexValues.join(',')]]"/>
      <input type="hidden" name="palette_id" v-bind:value="[[palette.id]]"/>
      <input type="submit" value="Create Artistic Photo" id="submit" class="mt-5 btn btn-primary" />
    </form>
  </div>
</div>

<div v-if="showPaletteMapping">
  {% include 'partials/modals/_palette_mapping.html' %}
</div>

<div v-if="showNstHelp">
  {% include 'partials/modals/_nst_help.html' %}
</div>
