<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Color Palette</h5>
    <div class="row">
      <div class="col-sm-8">
        <div
          v-for="(hex, index) in palette.hex_values"
          v-bind:style="{background: hex, width: paletteWidth() + 'px', height: '150px', float: 'left'}"
        >
        </div>
      </div>
      <div class="col-sm-4">
        <div v-bind:style="{width: '18rem', height: '18rem', 'overflow-y': 'auto'}">
          <ul class="list-group list-group-flush">
            <li
              v-for="(plt, index) in palettes"
              class="list-group-item"
              v-bind:class="{active: plt.id == selected_plt_id, 'custom-list-group-item': plt.id != selected_plt_id}"
              v-on:click="selectPalette(plt)"
            >
              [[plt.name]]
              <svg v-on:click="verifyDeletePalette(plt)" class="pointer float-right" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <form id="color-palette" class="mt-5" enctype="multipart/form-data" method="post" action="/images/palettes">

        <div class="form-group">
          <div class="col-sm-12">
            <input id="fileupload" class="form-control" name="color_palette" type="file" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" name="number" class="form-control" placeholder="Number of Palettes">
            <small id="passwordHelpInline" class="text-muted">
              Default is 6
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" name="palette_name" class="form-control" placeholder="Enter Palette Name">
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="use_starting_image" value="true" id="use_starting_image" :disabled="!(image.id)">
          <label class="form-check-label" for="use_starting_image">
            Create using Starting Image
          </label>
          <input type="hidden" name="starting_image_id" v-bind:value="[[image.id]]" />
        </div>

        <input type="submit" value="Create Color Palette" id="submit" class="btn btn-dark" />
      </form>
    </div>
  </div>
</div>

<div v-if="showDeletePaletteModal">
  {% include 'partials/modals/_delete_palette.html' %}
</div>
