<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Starting Photo</h5>
    <div class="row">
      <div class="col-sm-8">
        <canvas
          ref="startingImageCanvas"
          v-bind:width="[[width]]"
          v-bind:height="[[height]]"
          v-on:mousedown="setDrag"
          v-on:mousemove="dragLine"
          v-on:mouseup="unsetDrag"
        >
        </canvas>
      </div>
      <div class="col-sm-4">
        <div v-bind:style="{width: '18rem', height: cardHeight() + 'rem', 'overflow-y': 'auto'}">
          <ul class="list-group list-group-flush">
            <li
              v-for="(img, index) in images"
              class="list-group-item"
              v-bind:class="{active: img.id == image.id, 'custom-list-group-item': img.id != image.id}"
              v-on:click="selectStartingPhoto(img)"
            >
              [[img.name]]
            </li>
          </ul>
        </div>
      </div>

      <form id="starting-image" enctype="multipart/form-data" method="post" action="/images/starting">
        <div class="form-group">
          <div class="col-sm-12">
            <input id="fileupload" class="form-control" name="starting" type="file" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" name="image_name" class="form-control" placeholder="Enter Image Name">
          </div>
        </div>

        <input type="submit" value="Create Starting Photo" id="submit" class="btn btn-dark" />
      </form>
    </div>
  </div>
</div>
