<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Starting Photo</h5>
    <div class="row">
      <div class="col-sm-8">
        <canvas
          ref="startingImageCanvas"
          v-bind:width="[[width]]"
          v-bind:height="[[height]]"
          v-on:mousedown="setDrag"
          v-on:mousemove="dragLine"
          v-on:mouseup="unsetDrag"
        >
        </canvas>
        <button v-if="image.name != null" v-on:click="undo">Undo</button>
        <button v-if="image.name != null" v-on:click="redo">Redo</button>
      </div>
      <div class="col-sm-4">
        <div v-bind:style="{width: '18rem', height: cardHeight() + 'rem', 'overflow-y': 'auto'}">
          <ul class="list-group list-group-flush">
            <li
              v-for="(img, index) in images"
              class="list-group-item"
              v-bind:class="{active: img.id == image.id, 'custom-list-group-item': img.id != image.id}"
              v-on:click="selectStartingPhoto(img)"
            >
              [[img.name]]
              <svg v-on:click="verifyDeleteImage(img)" class="pointer float-right" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <form id="starting-image" enctype="multipart/form-data" method="post" action="/images/starting">
        <div class="form-group">
          <div class="col-sm-12">
            <input id="fileupload" class="form-control" name="starting" type="file" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" name="image_name" class="form-control" placeholder="Enter Image Name">
          </div>
        </div>

        <input type="submit" value="Create Starting Photo" id="submit" class="btn btn-dark" />
      </form>
    </div>
  </div>
</div>

<div v-if="showDeleteImageModal">
  {% include 'partials/modals/_delete_image.html' %}
</div>
